*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 100%;    
}

.background{
    background-color: hsl(30, 38%, 92%);
}

.perfume{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 220px;
}

.quadrado{
    background-color: pink;
    display: flex;
    justify-content: center;    
}

.direita{
    width: 220px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.imagemperfume{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.topo{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 20px;
}

.titulo{
    font-family: 'Fraunces', serif;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    margin-top: 8px;
    margin-left: 20px;
    line-height: 15px;
}

.valores{
    display: flex;
    margin-top: 20px;
}

.valor1{
    color: hsl(120, 37%, 29%);
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Fraunces', serif;
}

.valor2{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 15px;
    font-family: 'Fraunces', serif;
    margin-top: 7px;
}

.botao{
    margin-top: 10px;
}

.botao1{
    border: 22px solid hsl(120, 37%, 29%);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 25px;
    background-color: hsl(120, 37%, 29%);
    display: flex;
}

.add{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-left: 10px;
}

.carrinho{
    width: 15px;
    height: 15px;
    margin-left: 7px;
}